.exam_instruction
{
	/*background-image: url(background_image/5.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
	border-radius: 40px 0px 40px 0px;
	border:4px solid white;
    border-radius: 40px 40px 0px 0px;*/
	padding-right: 10px;
    padding-bottom: 4px;
    overflow-wrap: all;
}
.timmer_show
{
	height:300px;
	border-radius: 150px;
	border:2px solid lightgray;
	background-image: url(background_image/timer.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
.time
{
	float: right;
	margin-top: 0px;
	margin-right:0px;
	font-family: DigifaceWide;
	font-style: bold;
	font-size: 18px;
    border-radius: 0px 10px 0px 0px;
	z-index: 1;
    background-color: red;
    color: white;

}
.test_heading
{
width: 100%;

padding: 4px;
 background-color: lightgray;
    color:blue;
    text-align: center;
    font-style:bold;
    font-size: 39px;
    font-family: Monotype Corsiva;
    text-shadow: 2px 2px 5px  green;
    text-decoration: none;
}
.subject_name
{
    background-color: lightgray;
 text-overflow: all;

    color:black;
    text-align: center;
    font-style:bold;
    font-size: 20px;
    font-family:times new roman;
    text-shadow: 2px 2px 5px gray;
    text-decoration: none;

}


.instruction
{
	 
	 width: 100%;

 background-color: lightgray;
    font-family: times new roman;
    text-shadow: 2px 2px 5px  green;
    text-decoration: none;

padding: 4px;
}
.instruction ul li
{
	color:black;
    font-style:bold;
    font-size:18px;
	font-style:bold;
    font-size:18px;
    text-shadow: 2px 2px 5px gray;
    

}
.itm
{
	color: red;
}
.time-float-right
{
/*position: fixed;
right: 20%;
top:50%;*/
display: none;
background-color:red;
z-index: 1;
}
.question_disp
{ 

    display: none;
    width:100%;
    overflow: auto;
    background-color: lightgray;
}
.question
{

    margin-left:20%;
    text-transform: uppercase;
    border:2px solid white;
    padding: 4px;
    width: 50%;
    border-radius: 20px;
    margin-bottom:5px;
    box-shadow: 0px 5px 15px gray;
}
/*.question:hover
{
    box-shadow:0px -5px 5px white;
    border:0px solid blue;
}*/
.qdisp
{
font-size: 16px;
font-weight: bold;
}
.optdisp
{
font-size: 14px;
padding: 5px;
}
.hint
{
    font-size:10px;


}
 input[type=radio]
{
background:green;
}
.subtn
{
    width: 50%;
    margin-left:20%;
}
.write
{
    color:white;
   background: green;
   width:30%;
}
.wrong
{
    color:white;
    background-color: red;
    width:30%;
}
.answ
{
    color:white;
    background-color:blue;
    width:30%; 
}
.noquestion
{
    font-size: 32px;
    color: red;
    
}
.exam_status_top
{
    position: fixed;
    left:8%;
    top:0px;
    width:80%;
     font-size: 20px;
}
.exam_status
{

    font-size: 20px;
}
.qustatus
{
    font-family:arial;
    

}
.res
{
    position: fixed;
    left:0px;
    top:45%;
    font-size: 24px;
    z-index: 6;

}
.after_result
{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    overflow: scroll;
    background-color: lightgray;
    display: none;
    z-index: 4;
}